.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav{
  display: flex;
}

.header-title{
  display: flex;
  align-items: left;
  justify-content: space-around;
  width: 70%;
  margin-right: 26%;
}

@media (max-width: 769px){
  .header .container{
    flex-direction: column;
  }

  .header-nav{
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .header-title{
    align-items: center;
    flex-direction: column-reverse;
    margin: 10px auto;
  }

  

}

/*________________________Contato-Flex__________*/